.product-page {
  display: flex;

  &__img {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__description {
    flex: 1;
  }

  &__description-row {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  &__description-label {
    color: #7880a4;
    margin-right: 20px;
    min-width: 100px;
  }

  &__description-value {
    color: #b68fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}